<div class="hero-wrapper">
  <div class="hero-content">
    <div class="container">
      <div class="row header">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p class="headline">My name is Mike Nicklas and I play with things like Ruby, JavaScript, and Photoshop.</p>
          <p class="lead">I am a web developer, designer, and marketer located in Charlotte, NC. During the day, I am a junior developer at KickoffLabs. At night, I design user interfaces, create marketing collateral, and help B2B companies increase brand awareness.</p>
        </div>
      </div>
    </div>
  </div>
</div>
