* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'fira sans 2', sans-serif;
  color: #747474;
}

h1, h2, h3, h4, h5, .headline {
  font-family: 'Adelle', serif;
  color: #4e4e4e;
}

.headline {
  font-size: 28px;
}

.lead {
  font-size: 16px;
}

.header {
  margin-top: 25%;
}

.header .lead {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #cfcfcf;
}